<div class="list-group">
  <a class="list-group-item list-group-item-action flex-column align-items-start" [routerLink]="[index]" routerLinkActive="active">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">{{ teams.name }}</h3>
    </div>
      <h4 class="mb-1">Team Members
        <span class="badge badge-default">{{memberCount}}</span>
      </h4>
    <p class="mb-1">Description: {{ teams.description }}</p>
    <p class="mb-1">Tech Stack: {{ teams.techStack }}</p>
  </a>
</div>