<br>
<br>
<br>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ team.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>Team Id: {{ team._id }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>Description: {{ team.description }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>Tech Stack: {{ team.techStack }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>GroupId{{ team.groupId }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle drop">
        Manage Team
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer;" (click)="onEditTeam()">Edit Team</a>
        </li>
        <li>
          <a style="cursor: pointer;" (click)="onDeleteTeam(team._id)">Delete Team</a>
        </li>
      </ul>
    </div>
  </div>
</div>
