<ngx-datatable 
  class="material fullscreen"
  style="top: 52px" 
  [columnMode]="'force'" 
  [headerHeight]="50" 
  [footerHeight]="0"
  [rowHeight]="50" 
  [scrollbarV]="false" 
  [scrollbarH]="false" 
  [rows]="rows">
  <!-- <p>{{ mem._id }}</p> -->
  <!-- <ngx-datatable-column name="Member Id" [width]="250" prop="_id"></ngx-datatable-column> -->
  <ngx-datatable-column name="First Name" [width]="100"></ngx-datatable-column>
  <ngx-datatable-column name="Middle Name" [width]="100"></ngx-datatable-column>
  <ngx-datatable-column name="Last Name" [width]="100"></ngx-datatable-column>
  <ngx-datatable-column name="EmailAddress" [width]="250" prop="EmailAddress"></ngx-datatable-column>
  <!-- <ngx-datatable-column name="Team Id" [width]="250" prop="teamId"></ngx-datatable-column> -->
  <!-- <ngx-datatable-column name="teamname" [width]="200" prop="name"></ngx-datatable-column> -->
  <!--<ngx-datatable-column name="State" [width]="300" prop="address.state"></ngx-datatable-column> -->
</ngx-datatable>
