<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!groupForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Group Name</label>
            <input type="text" id="name" formControlName="name" class="form-control" required>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="groupname">Group ID</label>
            <input type="text" id="groupid" formControlName="_id" class="form-control">
          </div>
        </div>
      </div> -->
      
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Group Description</label>
            <textarea type="text" id="description" class="form-control" formControlName="description" rows="6" required></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>